/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/inter-v19-latin-regular.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("./assets/fonts/inter-v19-latin-regular.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/inter-v19-latin-600.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("./assets/fonts/inter-v19-latin-600.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/inter-v19-latin-700.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url("./assets/fonts/inter-v19-latin-700.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
:root {
    --clr-green: hsl(75, 94%, 57%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-grey: hsl(0, 0%, 20%);
    --clr-dark-grey: hsl(0, 0%, 12%);
    --clr-off-black: hsl(0, 0%, 8%);

    --font-main: "Inter", sans-serif;
    --font-normal: 400;
    --font-semibold: 600;
    --font-bold: 700;

    --text-base: 0.875rem;

    --leading-none: 1;
    --leading-paragraph: 1.25rem;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}
body {
    line-height: var(--leading-none);
    -webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: inherit;
    font: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.main__container {
    padding-top: clamp(7.25rem, 10vw + 2.5rem, 10.8125rem);
    padding-bottom: clamp(7.3125rem, 10vw + 2.5rem, 10.9375rem);
    background-color: var(--clr-off-black);
    color: var(--clr-white);
    font-family: var(--font-main);
    font-size: var(--text-base);
    min-height: 100vh;
}
.profile {
    background-color: var(--clr-dark-grey);
    border-radius: 0.75rem;
    width: min(100vw - 3rem, 24rem);
    margin: 0 auto;
    padding: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.profile__avatar {
    margin: 0 auto;
    border-radius: 9999px;
    width: 5.5625rem;
    height: 5.5625rem;
    margin-bottom: 1.875rem;
}
.profile__username {
    font-size: 1.5rem;
    margin-bottom: 0.875rem;
    font-weight: var(--font-semibold);
}
.profile__address {
    color: var(--clr-green);
    letter-spacing: 0.005rem;
    margin-bottom: 1.75rem;
    font-style: normal;
}
.profile__quote {
    font-weight: var(--font-normal);
    line-height: var(--leading-paragraph);
    margin-bottom: 1.5rem;
}
.profile-social__list {
    padding: 0;
    list-style: none;
    width: 100%;
    font-weight: var(--font-bold);
    color: var(--clr-white);
}
.profile-social__item:not(:last-child) {
    margin-bottom: 1rem;
}
.profile-social__item a {
    display: block;
    background-color: var(--clr-grey);
    padding: 1rem 0 0.9375rem 0;
    width: 100%;
    border-radius: 0.5rem;
    transition-property: background-color, color;
    transition-duration: 200ms;
    transition-timing-function: ease;
}
.profile-social__item a:focus-visible {
    outline: 2px dashed var(--clr-green);
    outline-offset: 4px;
}

@media (hover: hover) {
    .profile-social__item a:hover {
        background-color: var(--clr-green);
        color: var(--clr-dark-grey);
    }
}

@media screen and (min-width: 45em) {
    .profile {
        padding: 2.5rem;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important;
    }
}
